.header {
    background: url(/assets/img/header-bg.jpg) center top/cover no-repeat;
    padding: 250px 0 215px;
    position: relative;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-size: 48px;
        letter-spacing: 5px;
        line-height: 1.5em;
        text-align: center;
    }
    &__subtitle {
        font-size: 22px;
        letter-spacing: 7px;
        line-height: 1.5em;
        color: rgba($color: #fff, $alpha: 0.75);
        text-align: center;
        margin-bottom: 50px;
    }
    &-form {
        border: 2px solid var(--color-white);
        max-width: 650px;
        width: 100%;
        font-size: 0;
        display: flex;
        background-color: #fff;
        margin-bottom: 120px;
    }
    &__search-input {
        flex: 1 1 77%;
        margin-right: 5px;
        padding: 1.25em 0.5em;

        font-size: 16px;
        letter-spacing: 3px;
        line-height: 1;
        color: #232323;
        text-align: center;

        border: none;
        outline: none;

        &::placeholder {
            font-size: 14px;
            letter-spacing: 3px;
            line-height: 26px;
            color: #999999;
            text-align: center;
        }
    }
    &__search-button {
        position: relative;
        flex: 1 1 23%;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 1.5em;
        color: #ffffff;
        font-weight: 400;
        font-family: "Aleo", serif;
        text-align-last: left;
        background-color: #5373fd;
        border: none;
        outline: none;
        padding-left: 35px;

        i {
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            font-size: 24px;
            padding-left: 10px;
        }

        &:hover,
        &:focus {
            filter: hue-rotate(-10deg) saturate(155%);
        }
        &:focus {
            outline: auto;
        }

        &:active {
            transform: scale(0.95);
            box-shadow: inset 0 0 4px 2px rgba($color: #000000, $alpha: 0.3);
        }
    }
    &__scroll {
        text-align: center;
        font-size: 14px;
        letter-spacing: 3px;
        line-height: 1.5em;
        color: #ffffff;
        text-decoration: none;

        &:hover img,
        &:focus img {
            animation: scroll-img-animation 0.7s ease-in-out 0s infinite alternate;
        }
    }
    &__navigation {
        position: absolute;
        bottom: 0;
        z-index: 2;
    }

    .nav {
        background-color: #5373fd;
        padding: 30px 0;
        width: 100%;

        &-container {
            justify-content: space-between;
            align-items: center;
            position: relative;
        }

        &__logo {
            font-size: 24px;
            letter-spacing: 2px;
            line-height: 26px;
        }
        &-menu {
            &__burger {
                display: none;
                width: 42px;
                height: 35px;
                background-color: transparent;
                position: relative;
                z-index: 5;

                span {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 100%;
                    height: 4px;
                    background-color: #fff;
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 4px;
                    background-color: #fff;
                }

                &::before {
                    top: 0;
                }

                &::after {
                    bottom: 0;
                }
            }
            &__list {
                justify-content: flex-end;
            }
            &__item {
                position: relative;
                margin-left: 40px;

                a {
                    font-size: 14px;
                    line-height: 1;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Aleo";
                    text-decoration: none;

                    &::before {
                        content: "";
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        bottom: -25px;
                        background-color: #fff;
                        transition: all 0.5s ease-out;
                    }

                    &:not(:hover)::before {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &:hover::before,
                    &:focus::before {
                        opacity: 1;
                        visibility: visible;
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1023px) {
        background: url(/assets/img/header-bg-M.jpg) center top/cover no-repeat;
    }

    @media screen and (max-width: 767px) {
        padding: 150px 0;

        &-form {
            border: none;
            max-width: 450px;
            flex-direction: column;
            align-items: center;
            background-color: transparent;
            margin-bottom: 90px;
        }
        &__search-input {
            flex: none;
            width: 100%;
            margin: 0 0 25px 0;
        }
        &__search-button {
            flex: none;
            width: 150px;
            height: 50px;
            border: 2px solid #fff;
        }

        .nav {
            padding: 25px 0;

            &-menu {
                &__burger {
                    display: block;

                    span {
                        transition: all 0.2s ease 0.1s;
                    }

                    &::before {
                        animation: burger-before-revers 0.2s forwards;
                    }

                    &::after {
                        animation: burger-after-revers 0.2s forwards;
                    }
                }
                &__list {
                    display: none;
                    right: -100%;
                    transition: all 0.5s ease-out;
                }
            }

            .active {
                .nav-menu__burger {
                    span {
                        opacity: 0;
                        visibility: hidden;
                    }

                    &::after {
                        animation: burger-after 0.2s forwards;
                        transform: translateY(50%) rotate(-45deg);
                        transition: transform 0.3s ease-in-out 0.2s;
                    }
                    &::before {
                        animation: burger-before 0.2s forwards;
                        transform: translateY(-50%) rotate(45deg);
                        transition: transform 0.3s ease-in-out 0.2s;
                    }
                }

                .nav-menu__list {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    top: -25px;
                    width: 50%;
                    background-color: rgba($color: #000000, $alpha: 0.9);
                    padding: 90px 15px 15px 15px;
                }

                .nav-menu__item {
                    margin: 0;

                    a {
                        line-height: 2em;
                        font-size: 20px;

                        &::before {
                            bottom: -5px;
                        }

                        &:hover::before,
                        &:focus::before {
                            transform: translateY(-15px);
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 420px) {
        &__container {
            padding-left: 10px;
            padding-right: 10px;
        }

        &__title {
            font-size: 35px;
        }

        &__subtitle {
            font-size: 14px;
        }

        &__search-input {
            font-size: 14px;

            ::placeholder {
                font-size: 12px;
                letter-spacing: 0px;
            }
        }

        .nav {
            padding: 20px 0;

            &__logo {
                font-size: 22px;
                position: relative;
                z-index: 5;
            }

            .active {
                .nav-menu__list {
                    top: -20px;
                    width: 100%;
                }
            }
        }
    }
}

@keyframes scroll-img-animation {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes burger-after {
    0% {
        bottom: 0;
    }

    100% {
        bottom: 50%;
    }
}

@keyframes burger-after-revers {
    0% {
        bottom: 50%;
    }

    100% {
        bottom: 0;
    }
}

@keyframes burger-before {
    0% {
        top: 0;
    }

    100% {
        top: 50%;
    }
}

@keyframes burger-before-revers {
    0% {
        top: 50%;
    }

    100% {
        top: 0;
    }
}
