.section2 {
    background-color: #333333;
    padding: 100px 0 115px 0;

    &-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
    }
    &-item {
        text-align: center;
        padding: 0 5px;

        &__icon {
            display: inline-block;
            padding: 15px 15px 0 15px;
            font-size: 60px;
            margin-bottom: 30px;

            position: relative;
            z-index: 3;
            background-color: #333333;
            border-radius: 50%;
        }

        .icon-check {
            color: #ff6363;
        }
        .icon-like2 {
            color: #00a2ff;
        }
        .icon-search {
            color: #5373fd;
        }

        &__title {
            font-size: 36px;
            line-height: 1;
            color: #e8e8e8;
            font-weight: 400;
            font-family: "Aleo";
        }
    }
    &__dotted-line {
        max-width: 63%;
        width: 100%;
        position: absolute;
        top: -50px;
        left: 50%;
        transform: translateX(-50%);

        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 991px) {
        padding: 60px 0;
    }

    @media screen and (max-width: 767px) {
        padding: 50px 0 30px 0;

        &-item__icon {
            margin: 0 0 20px 0;
            font-size: 50px;
        }
        &-item__title {
            font-size: 25px;
        }

        &__dotted-line {
            top: -30px;
        }
    }
    @media screen and (max-width: 575px) {
        padding: 40px 0 20px 0;

        &-item__icon {
            margin: 0 0 15px 0;
            font-size: 40px;
        }
        &-item__title {
            font-size: 20px;
        }

        &__dotted-line {
            top: -20px;
        }
    }
}
